html, body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.4fr 1fr 0.2fr 1fr 0.2fr;

    /* grid-template-columns: repeat(auto-fill, 1fr); */
}

/* This is the navigation styling  */

.navigation {
    grid-column-start: span 6;
}


header {
    background-color: #262626;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;

}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media (max-width:768px) {

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -120%; /*to move navigation out of the view*/
        top: 70px; 
        flex-direction: column; /* links in the hamburger menu will appear in a column*/ 
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        padding-left: 0px;

    }

    .nav-item {
        margin: 16px 0;
    }
    
    .nav-menu.active {
        left: 0;
    }
}

/* This is the banner styling  */

.banner {
    display: grid;
    grid-column-start: span 6;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    background-color: #262626;
    margin: 1em 0;
    color: honeydew;
}

.banner-content{
    border-top: solid 3px;
    border-left: solid 5px;
    
    border-radius: 7px;
    background-color: rgba(60, 65, 94, 0.5);
    filter: blur(1px);
    -webkit-filter: blur(0.5px);
       
}

.banner-text {
    color: rgb(255, 249, 249);
    padding-left: 10px;
    padding-right: 10px;
}




/* <!-- This is the main section of the page --> */

.main-section {
    display: grid;
    grid-column-start: span 6;
    background-image: url(https://www.celestica.com/uploadedImages/Blog/Blog/DigitalHealthTechTouchScreen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    -webkit-filter: blur(0.5px);
    
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    color: honeydew;
    
}

.main-content2 {
    background-color: rgba(38, 38, 38, 0.5);
    border-radius: 20px;
    padding: 20px;
    filter: blur(2px);
    -webkit-filter: blur(0.5px);
}

.button {
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }


/* <!-- This is the contact section of the page --> */

.contact-section {
    display: grid;
    justify-content: center;
    grid-column-start: span 6;
    background-color: rgb(30, 142, 253);
    margin: 1em 0;
    
}

.contact-content {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
    text-align: start;
}

.contact-item {
    border-left: solid white 5px;
    padding: 0 5em;
    font-size: 1.2em;
}



/* <!-- This is the form section of the page --> */

.form-cover {
    grid-column-start: span 6;

}

.inside-form {
    display: flex;
    flex-direction: column;
}


.form-content1 {
    background-color: rgb(216, 183, 38);

}

.form-content2 {
    background-color: rgb(209, 31, 0);

}


.form-text {
    background-color: firebrick;

}

/* This is the footer styling  */

.foot-section {
    grid-column: span 6;
    background-color: rgb(30, 255, 105);
}


footer {
    
}
